.pagination.pagination-centered
  %ul
    = page_link(1, page, last, uri, labels[:first])
    = page_link(page - 1, page, last, uri, '&lt;')
    - (from..to).each do |n|
      = page_link(n, page, last, uri, n.to_s)
    = page_link(page + 1, page, last, uri, '&gt;')
    = page_link(last, page, last, uri, labels[:last])
